@{
    ViewData["Title"] = "Intro";
}

@section Intro
    {
    <p>
        App Development for Web class assignment.
    </p>
}
<h1>Ertugrul Sahin</h1>
<form action="">
        <label>Number 1</label>
        <input type="number" />
        <label>Number 2</label>
        <input type="number" />
        <button>Submit</button>
        <p>
            output:
        </p>
</form>





