@{
    ViewData["Title"] = "Intro";
}

<h1>Ertugrul Sahin</h1>

<form action="">
    Number 1
    <input type="number" />
    Number 2
    <input type="number" />
    <button>Submit</button>
</form>

